{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react"],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "semi": ["error", "never"]
  },
  "globals": {
    "require": false
  }
}
