@import "~bulma/bulma";

$color: $black;

.section {
  padding-top: $size-4;
  padding-bottom: $size-5;
}

.team-name {
  margin: $size-6 / 2;
}

.top-banner {
  // TODO: fix override in bulma
  margin-top: $size-6;
}
