body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-image: url(../public/Council+House.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  background-color: rgba(255,255,255,0.7);
}
